<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IP_Notify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <!--Serilog valid values are those defined in the LogEventLevel enumeration: Verbose, Debug, Information, Warning, Error, Fatal.-->
    <add key="serilog:minimum-level" value="Verbose" />
  </appSettings>
    <applicationSettings>
        <IP_Notify.Properties.Settings>
            <setting name="EmailTo" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>george.nairooze@gmail.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PublicIP_URL" serializeAs="String">
                <value>https://ifconfig.me/ip</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>logs/ip-notify.txt</value>
            </setting>
        </IP_Notify.Properties.Settings>
    </applicationSettings>
</configuration>
